<%
  var templ = new EJS({url: 'templates/contentTableView.ejs'});
%>
<div class="pull-left">
  <div class='input-append'>
      <input id="searchField" placeholder="Search..."/>
      <button id="startSearch" class='btn add-on'>
          <i class="icon-search"></i>
      </button>
  </div>
</div>

<table id="contentTable" class="table table-condensed table-bordered">
  <%=templ.render(this.data)%>
</table>
<div id="cmsMenuBar">
  <form class="form-inline">
    <button class="btn new" id="addNew">Add new Document</button>
    <button class="btn delAll btn-danger" id="deleteMarked">Delete Marked</button>
  </form>
</div>


