<% cols = this.data.collection.getColumns() %>
<table class="table table-condensed table-bordered">
  <tr>
    <th>
      <div class="btn-group">
        <input id="checkAll" type="checkbox"></input>
      </div>
      Actions
    </th>
    <th class="attrtitle">_key</th>
    <% _.each(cols, function(c) { %>
      <th class="attrtitle"><%=c.name%></th>
    <%});%>
  </tr>
  <% this.data.collection.each(function (d) { %>
    <tr id=<%=d.get("_key")%>>
      <td>
        <div class="btn-group">
          <input class="checkBulk" type="checkbox"></input>
        </div>
        <div class="btn-group">
          <a class="btn edit"><i class="icon-edit"></i></a>
          <a class="btn delete btn-danger"><i class="icon-trash"></i></a>
        </div>
      </td>
      <td><%=d.get("_key")%></td>
      <% _.each(cols, function(c) { %>
        <td><%=d.get(c.name)%></td>
      <% }); %>
    </tr>
  <% }) %>
</table>
<div id="cmsMenuBar">
  <form class="form-inline">
    <button class="btn new" id="addNew">Add new Document</button>
    <button class="btn delAll btn-danger" id="deleteMarked">Delete Marked</button>
  </form>
</div>


